
@{
    ViewData["Tittle"] = "Acceso Denegado";
}

<div class="container bg-light p-4">
    <h2>Acceso Denegado</h2>
    <p> Sin Permisos para entrar a la pagina</p>
    <p><a class="btn btn-outline-primary" asp-action="Login">Iniciar Sesion</a></p>
</div>    
